// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary --- violeta claro**/
  --ion-color-primary: #ad66a9; // 2 
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ecd8e9; // 4
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #800080; // 1
  --ion-color-primary-tint: #d8b1d4; // 3

  /** secondary ---violeta oscuro**/
  --ion-color-secondary: #2d102c;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #800080;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #1b0b1a;
  --ion-color-secondary-tint: #551054;

  /** tertiary -- azul claro**/
  --ion-color-tertiary: #6c9ca4;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #dae6e7;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #0d6e79;
  --ion-color-tertiary-tint: #b5cdd0;

  /** success azul oscuro **/
  --ion-color-success: #13272a;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #0d6e79;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0d1718;
  --ion-color-success-tint: #164950;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
