<app-splash *ngIf="showSplash"></app-splash>

<app-avatar *ngIf="showApp" titulo="LOGIN"> </app-avatar>

<!-- <app-generar-qr> </app-generar-qr> -->

<ion-content *ngIf="showApp" class="ion-padding">
    <ion-content *ngIf="showApp" class="ion-padding">
  <app-leer-qr> </app-leer-qr>
  <!-- <app-sacar-foto></app-sacar-foto> -->

  <ion-input
    [disabled]="chk"
    type="text"
    [(ngModel)]="email"
    placeholder="Usuario"
    name="uname"
    required
  ></ion-input>
  <ion-input
    [disabled]="chk"
    type="password"
    [(ngModel)]="clave"
    placeholder="Clave"
    name="psw"
    required
  ></ion-input>
  <!-- <ion-checkbox [(ngModel)]="chk"></ion-checkbox> -->

  <ion-label expand="block">
    <ion-checkbox [(ngModel)]="chk"></ion-checkbox>
    Ingresar como invitado
  </ion-label>

  <ion-button (click)="ingresar()" expand="block">Iniciar Sesión</ion-button>
  <ion-button (click)="registracion()" color="secondary" expand="block">Registrarse</ion-button>
    
  

 <!--PRUEBAS-->
 <ion-label position="stacked">Nombre: <ion-text color="danger">*</ion-text></ion-label>
 <ion-icon name="checkmark-circle" color ="success"></ion-icon>
 <ion-icon name="close-circle" color="danger"></ion-icon>
 <ion-input required type="text" required ="true"  placeholder="Ingresar nombre" ></ion-input>
<!--PRUEBAS-->


  <!-- <ion-button [disabled]="chk" expand="block" color="secondary" href="/register" routerDirection="forward">Registrarse</ion-button>  -->

  <ion-fab>
    <ion-fab-button [disabled]="chk" (click)="completar('admin')" color="dark"
      >Admin</ion-fab-button
    >
    <ion-fab-button [disabled]="chk" (click)="completar('user')" color="light"
      >User</ion-fab-button
    >
  </ion-fab>


  



</ion-content>
