<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-input type="text" [(ngModel)]="miUsuario.nombre" placeholder="Usuario" name="uname" required></ion-input>
  <ion-input type="password" [(ngModel)]="miUsuario.clave" placeholder="Password" name="psw" required></ion-input>
  <ion-label [hidden]='!mostrar'>Usuario incorrecto</ion-label>
  <ion-button (click)="login()" expand="block">Login</ion-button>
  <ion-button expand="block" color="secondary" href="/register" routerDirection="forward">Register</ion-button>

  <ion-fab>
      <ion-fab-button (click)="completarAdmin()" color="dark">Admin</ion-fab-button>
      <ion-fab-button (click)="completarUser()" color="light">User</ion-fab-button>
  </ion-fab>
  
  

  
</ion-content>
