.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #800080;
    border-right: 16px solid #ad66a9;
    border-bottom: 16px solid  #d8b1d4;
    border-left: 16px solid #ecd8e9;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }