<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
    <ion-title>
      Imagen
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <h3 *ngIf="images.lenght === 0" text-center>Selecciona la imagen</h3>

    <ion-list>
      <ion-item *ngFor="let img of images; index as pos">
        <ion-thumbnail slot="start">
            <ion-img [src]="img.path"></ion-img>
        </ion-thumbnail>
        <ion-label> {{ img.name }}</ion-label>

        <ion-button slot="end" fill="clear" (click)="startUpload(img)">
          <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
        </ion-button>

        <ion-button slot="end" fill="clear" (click)="deleteImage(img)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
      </ion-item>
    </ion-list>

</ion-content>
<ion-footer>
    <ion-button fill="clear" expand="full" color="light+" (click)="selectedImage()">
      <ion-icon name="camera" slot="start"></ion-icon>
      Selecionar Foto
    </ion-button>
</ion-footer>
